<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mobizdom Email Filter</title>

    <!-- Bootstrap Core CSS -->
    <link href="{echo CDN}css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Email filter</a>
            </div>
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <form method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="exampleInputEmail1">Upload (.csv) file</label>
                    <input type="file" name="csv" required=""><br>
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Number of days</label>
                    <input class="form-control" style="width: 300px" type="number" name="days" placeholder="Days" required=""><br>
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Enter email in which you want to send</label>
                    <input class="form-control" style="width: 300px" type="email" name="email" placeholder="Email" required=""><br>
                  </div>

                  <div class="form-group">
                        <input class="btn btn-info" type="submit" name="go" value="Go">
                  </div>

                  A csv file is a comma seperated file or new line sperated file.<br>Your csv file should look like<br><br>example1@gmail.com<br>example2@gmail.com<br>example3@gmail.com

                </form>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="{echo CDN}js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{echo CDN}js/bootstrap.min.js"></script>

</body>

</html>
